---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  <div class="home-posts">
    {% for post in paginator.posts %}
      <article class="home-post">
        <div class="home-post-meta">
          <small>{{ post.date | date_to_string }}</small>
        </div>
        <div class="home-post-content">
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
          {% if post.excerpt %}
            <div class="home-post-excerpt">
              {{ post.excerpt | strip_html | truncatewords: 25 }}
            </div>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>

  {% include pagination-older.html %}
</div>